RewriteEngine on
RewriteCond $1 !^(index\.php|images|js|css|assets|api|console|includes|libs|js|report|font-awesome|temp|dist|slide|widgets|uploads|templates|fonts|rs-plugin|img|contact|img-rev-slider|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]